<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{{ page.title }}</title> 
{% comment %}
<link rel="stylesheet" type="text/css" href="reset.css" media="screen"> 
{% endcomment %}
<link rel="stylesheet" type="text/css" href="style.css" media="screen"> 
<meta name="author" content="Brian Clapper, Yuvi Masory">
</head> 
    
  <body>
    <div id="wrapper">
      <div id="header"> 
        <div id="menu">
          <ul id="nav"> 
            <li>
              <a href="index.html"
                 {% if page.tab == 'home' %}
                 class="selected first"
                 {% else %}class="first"
                 {% endif %}>
                Home
              </a>
            </li>
            <li>
              <a href="cv.html"
                 {% if page.tab == 'cv' %}
                 class="selected"
                 {% endif %}>
                C.V.
              </a>
            </li>
            <li>
              <a href="http://blog.yuvimasory.com"
                 {% if page.tab == 'blog' %}
                 class="selected"
                 {% endif %}>
                Blog
              </a>
            </li>
          </ul>
        </div> 
      </div>

      <div id="main">
{{ content }}
      </div> 

    </div> <!-- wrapper -->
    {% include footer.html %}
  </body>
</html>
